div{
  
  box-sizing: border-box;  
  font-size: large;
  text-align: center;
 
}

.contenedor{
  display: grid;
  grid-template-areas: 'header header header'
  'nav nav nav'
  'footer footer footer';
  
}

.Header{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: left;
  color: white;
  
}

.nav{
  width: 100%;
  padding: 60px;
  color: white;
  text-align: left;
  
}

table{
  table-layout: fixed;
  width: 60%;
  border-collapse: collapse;
  border: 3px solid #FFF0F5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
  background-color:	#FFA500;
  color: white;
    
}

.footer{
  font-family: Arial, Helvetica, sans-serif;
}
